@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Open+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--font-heading: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
			Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		--font-primary: 'Open Sans', sans-serif;
		--font-secondary: 'Bitter', sans-serif;

		font-family: var(--font-primary);
	}
}
