@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

:root {
	--color-text-base: #000000;
	--color-text-muted: #5e89a4;
	--color-text-inverted: #316ac4;
	--color-button-accent-base: #1192e2;
	--color-button-accent-transparent: #e7f0fe;
	--color-button-accent-hover: #169cef;
	--color-button-accent-muted: #d8d8d8;
	--color-bg-base: white;
	--color-bg-muted: #f0f3f4;
	--color-bg-gradient-base: linear-gradient(225deg, #22e1ff 0%, #1d8fe1 48%, #015e94 100%);
	--color-border-base: #b7b5b5;
	--font-base: 'Open Sans', sans-serif;
}

* {
	font-family: var(--font-base);
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	margin: 0;
}

h1,
h2,
p {
	font-weight: 400;
}
h3 {
	font-size: 0.9rem;
	color: rgba(22, 22, 22, 0.3);
}

p {
	line-height: 1.5;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}
button:focus:not(:focus-visible) {
	outline: none;
}

input {
	outline: none;
}

button {
	cursor: pointer;
}
